<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484800123364-sv38dvhrfcn28fdre3v3h9eik18nu8ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484800123364-sv38dvhrfcn28fdre3v3h9eik18nu8ui</string>
	<key>API_KEY</key>
	<string>AIzaSyBrmpaaXJrSVH6eqXHX4ZWZydXnKE9vOa0</string>
	<key>GCM_SENDER_ID</key>
	<string>484800123364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miny.flutterApiProjext</string>
	<key>PROJECT_ID</key>
	<string>minprojectapi</string>
	<key>STORAGE_BUCKET</key>
	<string>minprojectapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484800123364:ios:3704124ed717d838a737f1</string>
</dict>
</plist>